<configuration>
    <appender name="TEXT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder" />
    </appender>

    <logger name="org.eclipse.jetty" level="WARN" />
    <logger name="io.javalin" level="INFO" />
    <logger name="org.jooq" level="INFO" />

    <variable name="CHOOSE_APPENDER" value="${CHOOSE_APPENDER:-TEXT_CONSOLE}" />
    <root level="INFO">
        <appender-ref ref="${CHOOSE_APPENDER}" />
    </root>
</configuration>